[supervisord]
http_port=/var/tmp/supervisor.sock
;http_port=127.0.0.1:9001
;sockchmod=0700
;sockchown=nobody.nogroup
;umask=022

logfile=/var/log/supervisor/supervisord.log
logfile_maxbytes=25MB
logfile_backups=10
loglevel=info
pidfile=/var/run/supervisord.pid
nodaemon=false
minfds=1024
minprocs=200

;nocleanup=true
;http_username=user
;http_password=123
;childlogdir=/tmp
;user=chrism
;directory=/tmp
;environment=KEY=value

[supervisorctl]
serverurl=unix:///var/tmp/supervisor.sock
;serverurl=http://127.0.0.1:9001
;username=chris
;password=123

[program:kibana]
command={{ elk_kibana.path }}/bin/kibana
autostart=true
autorestart=true
user={{ elk_nginx.user }}
stdout_logfile=/var/log/supervisor/kibana.log
stderr_logfile=/var/log/supervisor/error.log

[program:master]
directory=/usr/share/elasticsearch
command=su -s '/bin/sh' -c 'bin/elasticsearch -Des.default.path.conf=/etc/elasticsearch/cluster/master/config -Des.default.path.logs=/opt/cloudhost/elasticsearch/clusters/master/logs -Des.default.path.data=/opt/cloudhost/elasticsearch/cluster/master/data' elasticsearch
user=elasticsearch
environment=JAVA_OPTS="-Xmx256m -Xms64m",ES_MIN_MEM=64m,ES_MAX_MEM=256m
autostart=false
autorestart=true
startsecs=30
redirect_stderr=true
stdout_logfile=/var/log/supervisor/master.log
stderr_logfile=/var/log/supervisor/master.error.log

[program:slave]
directory=/usr/share/elasticsearch
command=su -s '/bin/sh' -c 'bin/elasticsearch -Des.default.path.conf=/etc/elasticsearch/cluster/slave/config -Des.default.path.logs=/opt/cloudhost/elasticsearch/clusters/slave/logs -Des.default.path.data=/opt/cloudhost/elasticsearch/cluster/slave/data' elasticsearch
user=elasticsearch
environment=JAVA_OPTS="-Xmx256m -Xms64m",ES_MIN_MEM=64m,ES_MAX_MEM=256m
autostart=true
autorestart=true
startsecs=30
redirect_stderr=true
stdout_logfile=/var/log/supervisor/slave.log
stderr_logfile=/var/log/supervisor/slave.error.log

[group:elastic]
programs=master,slave
